<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="customer.apnacare.in.customer">

    <!-- Permission -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE"/>

    <application
        android:name=".utils.CustomerApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".activity.LoginActivity"
            android:label="@string/app_name"
            android:noHistory="true"
            android:theme="@style/AppTheme.NoTitle.FullScreen"
            android:windowSoftInputMode="stateHidden">

        </activity>

        <activity
            android:name=".activity.EshopActivity"
            android:parentActivityName=".activity.MainActivity"
            android:windowSoftInputMode="stateHidden">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.MainActivity" />
        </activity>

        <activity
            android:name=".activity.CasesActivity"
            android:parentActivityName=".activity.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.MainActivity" />
        </activity>

        <activity
            android:name=".activity.ViewCaseActivity"
            android:parentActivityName=".activity.CasesActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.CasesActivity" />
        </activity>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="6d2ab9f90989242e2a47e6f3f61047f75eb8c95a" />

        <!-- Declaring Service in Manifest -->
        <service
            android:name=".service.DataSyncService"
            android:exported="false" />
        <service
            android:name=".service.CaseDataService"
            android:exported="false"></service>
    </application>


</manifest>